@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/animacao.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* Bicicleta */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* Contato */
@import "./orcamento/orcamento.css";

/* Termos */
@import "./termos/termos.css";

.cadastros {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
}

.cadastro-item {
  flex: 1;
  min-width: 320px; /* evita quebrar os campos */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
